<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Retail-Store-Core-System</title>
	</head>
	
	<body>
	
		<h1>== Returns Section ==</h1>
		
		<h3>== Trade info ==</h3>
		<div th:text="'Trade Id => ' + ${session.transaction.id}"></div>
		<div th:text="'Customer => Id: ' + ${session.customer.id} + ', Name: ' + ${session.customer.name}"></div>
		<div th:text="'Trade Date: ' + ${session.transaction.tradeDate}"></div>
		<div th:text="'Total: ' + ${session.transaction.totalPrice}"></div>
		<ul th:each="item : ${session.transaction.items}">
		    <li th:text="'Goods Id: ' + ${item.id} + ', Name: ' + ${item.name} + ', Amount: ' + ${item.amount} + ', Price: ' + ${item.subtotal / item.amount} + ', Subtotal: ' + ${item.subtotal}" />
		</ul>
		
		<br/><hr/>
		
		<h3>== Add Returning Goods ==</h3>
		<form action="/trade-home/add-returning-goods" method="POST">
			Goods Id: <input type="text" name="goodsId" /><br/><br/>
			Number : <input type="text" name="number" value='1' /><br/><br/>
			<input type="submit" value="Add" />
		</form>
		
		<br/><hr/>
		
		<div th:if="${!session.returningList.empty}">
			<h3>== Goods to Return ==</h3>
			<ul th:each="returningList: ${session.returningList}">
			    <li th:text="'Product: ' + ${returningGoods.name} + ', Amount: ' + ${returningGoods.amount} + ', Price: ' + ${returningGoods.price}" />
			</ul>
			<p th:text="'Total Returning Price: ' + ${session.totalReturningPrice}"></p>
			<form action="/returns-home/return" method="POST">
				<input type="submit" value="Confirm" />
			</form>
			<br/><hr/>
		</div>

	</body>
</html>