<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Retail-Store-Core-System</title>
	</head>
	
	<body>
	
		<h1>== Welcome to Retail-Store-Core-System ==</h1>
		
		Below are all the branch, please choose one for this branch.
		<ul th:each="branch : ${branches}">
		    <li th:text="${branch.name}" />
		</ul>
		
		Type the branch name into the text field and click submit.<br/><br/>
		<form action="/branch-home" method="POST">
			<input type="text" name="branchName" />
			<input type="submit" value="Submit" />
		</form>
	
	</body>
</html>