<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Retail-Store-Core-System</title>
	</head>
	
	<body>
	
		<h1>== Trading Section ==</h1>
	
		<h3>== Customer info ==</h3>
		<div th:text="'Id: ' + ${session.customer.id} + ', Name: ' + ${session.customer.name}"></div>
		
		<br/><hr/>
		
		<h3>== Add Buying Goods ==</h3>
		<form action="/trade-home/add-buying-goods" method="POST">
			Goods Id: <input type="text" name="goodsId" /><br/><br/>
			Number : <input type="text" name="amount" value='1' /><br/><br/>
			<input type="submit" value="Add" />
		</form>
		
		<br/><hr/>
		
		<div th:if="${!session.buyingList.empty}">
			<h3>== Goods to Buy ==</h3>
			<ul th:each="buyingGoods : ${session.buyingList}">
			    <li th:text="'Product: ' + ${buyingGoods.name} + ', Amount: ' + ${buyingGoods.amount} + ', Price: ' + ${buyingGoods.price} + ', Subtotal: ' + ${buyingGoods.subtotal}" />
			</ul>
			<p th:text="'Total: ' + ${session.totalPrice}"></p>
			<form action="/trade-home/trade" method="POST">
				<input type="submit" value="Confirm" />
			</form>
			<br/><hr/>
		</div>

	</body>
</html>